<h1>Sign Up</h1>
<%= form_with model: @user, url: registrations_path do |form| %>
   <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
   <div><%= @user.errors[:name].first %></div>
  </div>
   <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
    <div><%= @user.errors[:email].first %></div>
    </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %><br>
    <div><%= @user.errors[:password].first %></div>
  </div>

   <div>
    <%= form.label :age %><br>
    <%= form.text_field :age %><br>
    <div><%= @user.errors[:age].first %></div>
  </div>

  <div>
    <%= form.submit :"Sign Up Now"  %>
  </div>
<% end %>
<%= link_to "Log in", new_login_path %>
